<div class="container-fluid">

  <div class="display-4 m-4">Products List</div>

  <form class="form-inline m-4 my-lg-0" [formGroup]="searchForm" (ngSubmit)="filterSearch()">
    <input class="form-control col-4 mr-sm-2" formControlName="searchText" type="search" placeholder="Search"
      autocomplete="off">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="dropdown-divider my-4"></div>

  <!-- <div *ngIf="productData?.length < 1" class="spinner-border text-center" style="width: 3rem; height: 3rem;">
    <p></p>
    <p>No products loaded yet!</p>
  </div> -->

  <!-- <div class="row row-cols-1 row-cols-md-5 m-4" *ngIf="productData?.length > 0"> -->
  <div class="row row-cols-1 row-cols-md-5 m-4">

    <!-- Product Card -->
    <div class="col mb-4" *ngFor="let product of productData">
      <div class="card h-100 text-center">
        <img [src]="product.imagePath" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ product.productName }}</h5>
          <p class="card-text">
            {{ product.price | currency: 'INR' : symbol: '0.0' }}
          </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['/product/product-details', product._id]">View Details</button>
          <button type="button" class="btn btn-outline-primary btn-block" (click)="addToCart(product)">Add To Cart</button>
        </div>
      </div>
    </div>

  </div>

  <div class="dropdown-divider my-4"></div>

</div>
