<div class="container">
  <div class="row justify-content-md-center">

    <form class="col-md-8" [formGroup]="signupForm" (ngSubmit)="onSignup()">

      <div class="display-4 my-4">
        Signup
      </div>

      <div class="dropdown-divider"></div>

      <div class="form-group mt-4">
        <label for="nameInput">Name *</label>
        <input type="text" class="form-control" id="nameInput" formControlName="name" placeholder="Name">
        <!-- Name Error Messages -->
        <div class="alert alert-danger" *ngIf="signupForm.get('name').invalid && (signupForm.get('name').dirty && signupForm.get('name').touched)">
          <div *ngIf="signupForm.get('name').errors.required">Name is required</div>
          <div *ngIf="signupForm.get('name').errors.minlength">Please enter a name with minimum 3 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="emailInput">Email address *</label>
        <input type="email" class="form-control" id="emailInput" formControlName="email" placeholder="Email address">
        <!-- Email Error Messages -->
        <div class="alert alert-danger" *ngIf="signupForm.get('email').invalid && (signupForm.get('email').dirty && signupForm.get('email').touched)">
          <div *ngIf="signupForm.get('email').errors.required">Email is required</div>
          <div *ngIf="signupForm.get('email').errors.email">Please enter a valid email</div>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordInput">Password *</label>
        <input type="password" class="form-control" id="passwordInput" formControlName="password" placeholder="Password">
        <!-- Password Error Messages -->
        <div class="alert alert-danger" *ngIf="signupForm.get('password').invalid && (signupForm.get('password').dirty && signupForm.get('password').touched)">
          <div *ngIf="signupForm.get('password').errors.required">Password is required</div>
          <div *ngIf="signupForm.get('password').errors.minlength">Please enter a password with minimum 8 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPasswordInput">Confirm Password *</label>
        <input type="password" class="form-control" id="confirmPasswordInput" formControlName="confirmPassword" placeholder="Confirm Password">
        <!-- Confirm Password Error Messages -->
        <div class="cross-validation-error-message alert alert-danger" *ngIf="signupForm.errors?.matcher && (signupForm.get('confirmPassword').dirty && signupForm.get('confirmPassword').touched)">
          Passwords do not match
        </div>
      </div>

      <button class="btn btn-primary btn-block my-4" type="submit" [disabled]="signupForm.invalid" *ngIf="!isLoading">Signup</button>

      <button class="btn btn-primary btn-block my-4" type="submit" disabled *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm"></span>
        Signing In...
      </button>

    </form>

  </div>
</div>
