<div class="jumbotron jumbotron-fluid bg-cover">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="display-4">E Commerce Store</h1>
    <!-- <p class="lead">We are here for you, if you need any help.</p> -->
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col">

      <div class="display-4">Contact Us</div>

      <div class="dropdown-divider my-4"></div>

      <div class="my-4 h4">
        <strong>Email Address</strong>
        <br>
        <p class="text-muted">ecommercestore@gmail.com</p>
      </div>

      <br>

      <div class="mb-4 h4">
        <strong>Mobile Number</strong>
        <br>
        <p class="text-muted">+91 9873429372</p>
        <p class="text-muted">+91 8163873242</p>
      </div>

      <div class="dropdown-divider my-4"></div>

      <div class="my-4 h2">
        <p>Subscribe to weekly newsletter</p>

        <div class="dropdown-divider"></div>

        <form class="col-6">

          <div class="form-group mt-4">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control" id="emailInput" placeholder="Email address">
          </div>

          <button class="btn btn-primary btn-block my-4" type="submit">Subscribe</button>

        </form>
      </div>

      <div class="dropdown-divider"></div>

    </div>

  </div>

</div>
