<!-- Empty orders list -->
<div class="container my-4 text-center" *ngIf="ordersWithProduct?.length < 1">

  <div class="alert alert-primary" role="alert">
    You have not ordered anything yet. Order now!

    <a routerLink="/product/products-list">
      View Product List
    </a>
  </div>

</div>

<!-- Order history contains orders -->
<div class="container">

  <div class="row">

    <div class="col" *ngIf="ordersWithProduct?.length > 0">
    <!-- <div class="col"> -->

      <div class="display-4 my-4">Order History</div>

      <div class="dropdown-divider my-4"></div>

      <!-- Order Item (iterate orders here) -->
      <div class="card mb-4" *ngFor="let order of ordersWithProduct">
        <div class="card-body">

          <div class="row">

            <div class="col">
              <img [src]="order.imagePath">
            </div>

            <div class="col">
              <div>{{ order.productName }}</div>
            </div>

            <div class="col">{{ order.price | currency: 'INR' : symbol: '0.0' }}</div>

            <div class="col-4">
              <div>{{ order.orderDate | date }}</div>
              <div>{{ order.deliveryAddress }}</div>
              <div>{{ order.paymentMethod }}</div>
            </div>

          </div>

        </div>
      </div>

      <div class="dropdown-divider my-4"></div>

    </div>

  </div>

</div>
